/* reset css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid red; */
}
html {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	height: 2000px;
	background: rgb(251, 150, 194);
	background: radial-gradient(circle, rgba(251, 150, 194, 1) 7%, rgba(136, 183, 240, 1) 94%);
}
/* css general */
.icon-size {
	width: 20px !important;
	height: 20px !important;
	border-radius: 50% !important;
}
/* ./css general */
/* navbar */
.navbar {
	box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.navbar .search {
	width: 50%;
	padding: 8px 16px;
	border-radius: 8px;
	background-color: #fff;
}
.navbar input {
	width: 80%;
	border: none;
}
.navbar input:focus {
	outline: none;
}
.nav-right .user-avatar {
	text-align: center;
	display: inline;
}
.nav-right {
	width: 25%;
}
.nav-right .user-name {
	display: inline;
}
.nav-right .img-user {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
/* ./navbar */
.container-fluid {
	/* height: 1000px; */
}

/* body-left */

.left-body .left-body-container,
.right-body .right-body-container {
	height: fit-content;
	border-radius: 10px;
	box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
}
.left-body-container,
.right-body-container {
	padding: 16px 24px;
}

.leftBody-title {
	font-weight: 600;
}
.left-body-container .list-option li {
	margin: 12px 0;
	padding: 4px 0;
	cursor: pointer;
}
/* ./body-left */
/* body-right */
.right-body-container .singer {
	margin: 12px 0;
	padding: 8px 16px;
}
.right-body-container .singer .singer-name a {
	text-decoration: none;
	color: #000;
}
/* ./body-right */
.img-singer img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.cur-song-list {
	height: fit-content;
	/* display: flex; */
	/* margin: 8px; */
	border-radius: 10px;
	box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
}
.cur-song-list .title {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 32px;
}
.cur-song-list .song-info {
	width: 90%;
}
.body-cur .row:first-child {
	display: flex;
	margin: 8px;
	/* width: 80%;
	height: 80%; */
	/* align-items: center; */
	justify-content: space-between;
	align-items: center;
}
.cur-song-list .singer-list .download-btn {
	margin-right: 8px;
	color: #000;
}
.top-music {
	padding-top: 16px;
}
.list-option {
	list-style: none;
}

.song-list {
	position: relative;
	margin-top: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	padding: 4px 16px;
	/* background-color: #fff; */
}

.song-list:hover,
.right-body-container .singer:hover {
	border-radius: 10px;
	box-shadow: 0px 0px 26px 7px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.song-list .song-name {
	font-weight: 600;
}
.song-list .song-icon {
	display: inline-block;
}
/* list top song */
.list-top-song .list-body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.list-top-song img {
	width: 150px;
	height: 150px;
	border-radius: 8px;
}
/* ./list top song */

/* Footer */
.footer {
	z-index: 1000;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 72px;
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
	box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
}
.footer-body {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer .song-info {
	display: flex;
	align-items: center;
	margin-right: 64px;
}
.footer .song-info img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.footer .song-author,
.footer .song-name {
	margin-left: 8px;
	width: 300px;
}
.footer .music-status {
	/* width: 20%;
	height: 20%; */
	position: relative;
	text-align: center;
	width: 50%;
	user-select: none;
}
.footer .song-currTime {
	position: absolute;
	top: 14px;
	font-size: 14px;
}
.footer .song-totalTime {
	position: absolute;
	right: 0;
	top: 14px;
	font-size: 14px;
}
.footer .music-timer input {
	cursor: pointer !important;
	width: 100%;
}

.footer .volume-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 30px;
	width: 28%;
}
.footer #volume {
	cursor: pointer;
	width: 80%;
}
.footer .music-option {
	height: 100%;
}
.footer .music-option .option-btn {
	display: inline-block;
}
.footer .music-option .option-btn:hover {
	cursor: pointer;
}
.footer .music-option .option-btn i {
	margin: auto 12px;
	font-size: 30px;
}
/* ./Footer */
