* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	height: 100vh;
	background: rgb(251, 150, 194);
	background: radial-gradient(circle, rgba(251, 150, 194, 1) 7%, rgba(136, 183, 240, 1) 94%);
}
/* login */
.login-form {
	display: block;
	border-radius: 8px;
	box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: scroll 0.3s ease-in;
}
.container {
	padding: 16px;
}
.container h1 {
	margin: 16px auto;
}
.login-body {
}
.login-body label {
	display: block;
	width: fit-content;
	font-size: 14px;
}

.login-body input {
	width: 100%;
	padding: 8px 32px 8px 8px;
	margin: 4px 0 16px 0;
	border: none;
	border-radius: 8px;
	outline: none;
}
.login-btn {
	text-align: center;
}
.login-body .login-btn button {
	text-align: center;
	padding: 8px 32px;
	border-radius: 8px;
	background-color: #fff;
	outline: none;
	border: none;
}
.login-body .registAcc {
	text-align: center;
	margin: 8px auto;
}
.login-body .registAcc a {
	cursor: pointer;
	font-weight: 600;
	color: rgb(37, 96, 245);
}
/* ./login */
/* register */
.register {
	display: none;
	border-radius: 8px;
	box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: scroll 0.3s ease-in;
}
.register-form {
	position: relative;
	padding: 16px;
}
.register h1 {
	margin: 16px auto;
	text-align: center;
}
.register label {
	display: block;
	font-size: 14px;
}
.register input {
	width: 100%;
	padding: 8px 16px;
	margin-bottom: 16px;
	border: none;
	border-radius: 8px;
	outline: none;
}
.regist-btn {
	text-align: center;
}
.regist-btn button {
	padding: 8px 16px;
	background-color: #fff;
	border-radius: 8px;
	border: none;
	font-weight: 600;
	cursor: pointer;
}
.register .error-msg {
	bottom: -30px;
	left: 40px;
	justify-content: center;
	display: flex;
	text-align: center;
	position: absolute;
	height: 14px;
	font-size: 14px;
	margin-bottom: 8px;
	color: #f00;
}
.already-acc {
	margin-top: 8px;
	text-align: center;
}
.already-acc a {
	color: rgb(37, 96, 245);
	cursor: pointer;
	font-weight: 600;
}
/* ./register */
@keyframes scroll {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
